
/*------------------------- NAV BAR --------------------------*/
#navbar {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navbar-items-wrapper--responsive {
  display: none;
}

/* make the nav bar items to be in the same line*/
#navbar-items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#navbar-items {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#navbar-items a {
  text-decoration: none;
  color: #fff;
  padding: 0 25px;
  text-transform: uppercase;
}

#navbar-items li a:hover {
  color: #000;
  background-color: #ccc;
  display: inline-block;
  line-height: 50px;
}

@media only screen and (min-width: 600px) {
  .navbar-items-wrapper--responsive {
    display: block;
  }

  #navbar-items {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    margin-bottom: 0;
  }

  .hamburger-menu-wrapper {
    display: none;
  }
}

.hamburger-menu-wrapper {
  text-align: right;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.hamburger-menu-icon {
  color: #fff;
}
/*----------------------------- End NAV BAR-----------------------*/

.product-info-container {
  margin-top: 100px;
}
.info-title {
  background-color: blanchedalmond;
  text-align: center;
  width: 50%;
  margin: auto auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  width: 350px;
  height: 350px;
  margin-right: 2em;
}

img:hover {
  width: 400px;
  height: 400px;
  border: 1px solid gray;
  transition: 0.3s;
}

.productInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  font-size: 20px;
  margin-top: 2em;
  border: none;
  background-color: lightblue;
  padding: 10px 10px;
  border-radius: 4px;
}

button:hover {
  background-color: aqua;
  cursor: pointer;
  padding: 12px 12px;
}
